@charset "utf-8";

// common

.wrapper {
  position: relative;
  padding: 20px 0 50px;
}

.h1 {
  margin: 0 20px 20px;
  font-size: 16px;
  font-weight: bold;

  &.h1-ok {
    color: #009;
  }

  &.h1-ng {
    color: #900;
  }
}

.list {
  margin: 0 30px 20px;
  > li {
    margin-bottom: 10px;
  }
}

.p {
  margin: 0 30px 20px;
}

.fixed-wrapper {
  margin-bottom: 20px;
  min-height: 64px;

  &.fixed-wrapper03 {
    min-height: 0;
  }

  &.fixed-wrapper04 {
    min-height: 0;
  }
}

.fixed {
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #ccc;

  &.is-fixed {
    position: fixed;
    top: 0;
  }

  &.is-fixed01 {
    position: fixed;
    top: 0;
  }

  &.fixed03 {
    display: none;
  }

  &.is-fixed03 {
    position: fixed;
    display: block;
    top: 0;
  }

  &.fixed04 {
    display: none;
  }

  &.is-fixed04 {
    position: fixed;
    display: block;
    top: 0;
  }
}
