extend ../layout/default

block body
  body
    h1.h1.h1-ok scroll-fixed-demo 01 ： OK？

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト

    .fixed-wrapper.js-fixed-wrapper01
      .fixed.js-fixed01 固定コンテンツ

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
