extend ../layout/default

block body
  body
    .fixed-wrapper
      .fixed.is-fixed 固定コンテンツ

    h1.h1.h1-ok scroll-fixed-demo 02 ： OK？

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
