extend ../layout/default

block body
  body
    .fixed-wrapper.fixed-wrapper03.js-fixed-wrapper03
      .fixed.fixed03.js-fixed03 固定コンテンツ

    h1.h1.h1-ng scroll-fixed-demo 03 ： NG？

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
