extend ../layout/default

block body
  body
    .fixed-wrapper.fixed-wrapper03.js-fixed-wrapper03
      .fixed.fixed03.js-fixed03 固定コンテンツ

    h1.h1.h1-ng scroll-fixed-demo C ： NG？

    p.p
      |・ 初期表示時「固定コンテンツ」は 非表示 ＆ 非固定表示
      br
      |・ 「固定コンテンツ」が画面上端に到達したら 表示 ＆ 固定表示
      br
      |・ 「固定コンテンツ」が画面上端から下部に離れたら 非表示 ＆ 非固定表示

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
