extend ../layout/default

block body
  body

    h1.h1.h1-ng scroll-fixed-demo E ： NG？

    p.p
      |・ C と同様のロジックで「固定コンテンツ」の位置が少し下にあるバージョン
      br
      |・ 初期表示時「固定コンテンツ」は 非表示 ＆ 非固定表示
      br
      |・ 「固定コンテンツ」が画面上端に到達したら 表示 ＆ 固定表示
      br
      |・ 「固定コンテンツ」が画面上端から下部に離れたら 非表示 ＆ 非固定表示

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト

    .fixed-wrapper.fixed-wrapper05.js-fixed-wrapper05
      .fixed.fixed05.js-fixed05 固定コンテンツ

    p.p
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
      br
      |テキスト
