extend ../layout/default

block body
  body
    h1.h1 scroll-fixed-demo
    ul.list
      li
        a(href="a.html", target="_blank") a.html ： OK
      li
        a(href="b.html", target="_blank") b.html ： OK
      li
        a(href="c.html", target="_blank") c.html ： OK
      li
        a(href="d.html", target="_blank") d.html ： OK
      li
        a(href="e.html", target="_blank") e.html ： NG
